@import url('https://fonts.googleapis.com/css2?family=Akshar&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Akshar', sans-serif;
}

body {
    width: 100%;
    min-height: 90vh;
    display: grid;
    place-items: center;
    background-color: rgb(149, 64, 206);
}

div.container {
    width: 100%;
    max-width: 450px;
    background-color: white;
    padding: 30px 2.5%;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div.container h1 {
    font-size:  30px;
    color: rgb(47, 125, 170);
    font-weight: lighter;
    width: 100%;
    text-align: center;
}

div.container input {
    width: 100%;
    max-width: 50px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    outline: 0;
    border: 1px solid rgb(3, 3, 3);
    border-radius: 6px;
    color: rgb(3, 8, 75);
}

div.container input:focus {
    border: 1px solid rgb(47, 125, 170);
}

div.container input::-webkit-inner-spin-button {
    display: none;
}

div.table {
    width: 100%;
    text-align: center;
    color: rgb(3, 3, 3);
    font-size: 16px;
    line-height: 32px;
    padding: 15px 0;
}

div.container button {
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 1px;
    border: 0;
    background-color: rgb(84, 149, 187);
    color: white;
    cursor: pointer;
}